<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/progression" class="valign-wrapper">
	   		<i class="material-icons">arrow_back</i>
	   		My Progressions
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>


<!-- Form -->
<div class="row">
	<div class="col s1"></div>
	<div class="col s6 z-depth-1">
		<form class="col s12" action="/progression/createProgression" method="POST">
    	<header class="row valign-wrapper">
    		<h5 class="col s10">Create Chord Progression</h5>
    		
        <button type="submit" class="btn">Save</button>
    	</header>
      <input id="userId" name="userId" type="hidden" value="<%=currentUser.dataValues.id%>">
      	<div class="row">
      	  <div class="input-field col s12">
      	    	<input name="progressionName" placeholder="Add name here" id="progressionName" type="text" class="validate" required>
      	    	<label for="progressionName">Progression Name</label>
      	  </div>
        </div>
      	<div class="row">
          <div class="input-field col s4">
          <select name="timeSignature">
              <option value="4/4" selected>4/4</option>
          </select>
          <label>Time Signature</label>
            </div>        
            <div class="input-field col s4">
          <select name="keySignature">
              <option value="C Maj" selected>C Maj</option>
          </select>
          <label>Key Signature</label>
            </div>
            <div class="input-field col s4">
          <select name=totalMeasures>
              <option value="1" selected>1</option>
          </select>
          <label>Total Measures</label>
            </div>
        </div>
      	<div class="row">
      	  	<div class="input-field col s12">
      	  	  	<textarea name="progDesc" placeholder="Add Description Here" id="progDesc" class="materialize-textarea"></textarea>
      	  	  	<label for="progDesc">Progression Description</label>
      	  	</div>
      	</div>
    </form>
	</div>
	<div class="col s1"></div>
	<div class="col s3 z-depth-1">
		<div class="row">
			<div class="col s12">
				<header class="row center-align">
    				<h5><button data-target="addProgressionSegment" class="btn modal-trigger disabled">Add Segment
    				<i class="material-icons right">add</i>
    				</button></h5>
    			</header>
			</div>
		</div>
	</div>
	<div class="col s1"></div>
</div>
