<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/journal" class="valign-wrapper">
	   		<!-- <i class="material-icons">arrow_back</i> -->
	   		My Progressions
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<a href="progression/createProgression" >
			<button class="btn right">New Progression</button>
		</a>

	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<ul class="collapsible" data-collapsible="expandable">
		  	<li>
		  	  	<div class="collapsible-header">Progression 1</div>
		  	  	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		  	</li>
		  	<% for(var i=0; i<progressionList.length; i++){ %>
		  		<li>
		  		  	<div class="collapsible-header">
		  		  		<div class="row col s12">
		  		  			<div class="col s8">Name: <%=progressionList[i].dataValues.name%> </div>
		  		  			<div class="col s2 right">
		  		  				<a href="/progression/editProgression?id=<%=progressionList[i].dataValues.id%>">Edit</a>
		  		  				
		  		  			</div>
		  		  		</div>

		  		  	</div>
		  		  	<div class="collapsible-body">
		  		  		<span><div><%=progressionList[i].dataValues.description%></div></span>
		  		  	</div>
		  		</li>
		  	<%}%>


		</ul>
	</div>
	<div class="col s1"></div>
</div>