<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/progression" class="valign-wrapper">
	   		<!-- <i class="material-icons">arrow_back</i> -->
	   		My Progressions
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<a href="progression/createProgression" >
			<button class="btn right">New Progression</button>
		</a>

	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<ul class="collapsible" data-collapsible="expandable">
		  	<li>
		  	  	<div class="collapsible-header ">
		  	  		<div class="row col s12 buHeader">
		  		  		<div class="col s8">Progression Name</div>
		  		  		<div class="col s2 right">Update</div>
		  		  	</div>
		  	  	</div>

		  	</li>
		  	<% for(var i=0; i<progressionList.length; i++){ %>
		  		<li>
		  		  	<div class="collapsible-header">
		  		  		<div class="row col s12">
		  		  			<div class="col s8">Name: <%=progressionList[i].dataValues.name%> </div>
		  		  			<div class="col s2 right">
		  		  				<a href="/progression/editProgression?id=<%=progressionList[i].dataValues.id%>" class="col s6">Edit</a>
		  		  				<a href="/progression/deleteProgression?id=<%=progressionList[i].dataValues.id%>" class="deleteProgLink col s6">Delete</a>
		  		  				
		  		  			</div>
		  		  		</div>

		  		  	</div>
		  		  	<div class="collapsible-body">
		  		  		<span><div><%=progressionList[i].dataValues.description%></div></span>
		  		  	</div>
		  		</li>
		  	<%}%>
		</ul>
	</div>
	<div class="col s1"></div>
</div>


<script>
  $('.deleteProgLink').on('click', function(e) {
    e.preventDefault();
    var deleteUrl = $(this).attr('href');
    $.ajax({
      method: 'DELETE',
      url: deleteUrl,
    })
    .done(function(data) {
      window.location.assign('/progression');;
    });
  });
</script>












<!-- space -->