<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/profile" class="valign-wrapper">
	   		My Profile
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>


<div class="row">
    <div class="col s1"></div>
    <div class="col s10 z-depth-1">
    	<div class="col s6">
    	<H5 class="col s12">User Name</H5>
    	<div class="col s12"><%=currentUser.name%></div>
    	<H5 class="col s12">Bio</H5>
    	<div class="col s12">I do stuff</div>
    	<H5 class="col s12">Notes</H5>
    	<div class="col s12">This page is static af</div>
    </div>
    <div class="col s6">
    	<img class="responsive-img" src="https://i.imgur.com/VAyWH7J.jpg?2" title="source: imgur.com" />
    </div>
    </div>
    
    <div class="col s1"></div>
</div>