<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/profile" class="valign-wrapper">
	   		My Profile
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>


<div class="row">
    <div class="col s1"></div>
    <div class="col s10 z-depth-1">
    	<div class="col s6 ">
            <div class="tb-margin-sm spacer"></div>
            <H5>User Name</H5>
            <p class="lessMargin"><%=currentUser.name%></p>
            <H5>Bio</H5>
            <p class="lessMargin">We are the music makers,</p>
            <p class="lessMargin">And we are the dreamers of dreams,</p>
            <p class="lessMargin">Wandering by lone sea-breakers,</p>
            <p class="lessMargin">And sitting by desolate streams;—</p>
            <p class="lessMargin">World-losers and world-forsakers,</p>
            <p class="lessMargin">On whom the pale moon gleams:</p>
            <p class="lessMargin">Yet we are the movers and shakers</p>
            <p class="lessMargin">Of the world for ever, it seems.</p>
            <p class="lessMargin">-Arthur O'Shaughnessy</p>
            
            <H5>Notes</H5>
            <p class="lessMargin">This page is under development</p>
            <div class="tb-margin-md spacer"></div>
            </div>
        <div class="col s6">
        	<img class="responsive-img padMeYo" src="https://i.imgur.com/VAyWH7J.jpg?2" title="source: imgur.com" />
        </div>
    </div>
    
    <div class="col s1"></div>
</div>