<!-- breadcrumbs -->
<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/journal" class="valign-wrapper">
	   		My Journals
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<a href="journal/editJournal" >
			<button class="btn modal-trigger right">Create Entry</button>
		</a>

	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<ul class="collapsible" data-collapsible="expandable">
		  	<li>
		  	  	<div class="collapsible-header">Most Recent Entry</div>
		  	  	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		  	</li>
		  	<li>
		  	  	<div class="collapsible-header">Second Most Recent</div>
		  	  	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		  	</li>
		  	<li>
		  	  	<div class="collapsible-header">Ancient History</div>
		  	  	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		  	</li>
		</ul>
	</div>
	<div class="col s1"></div>
</div>