<!-- breadcrumbs -->
<div class="row bcbreadcrumb">
	<div class="col s1"></div>
	<div class="col s10">
	   	<h5><a href="/journal" class="valign-wrapper">
	   		My Journals
		</a></h5>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<form action="journal/createJournal" method="GET"> 
			<button class="btn  right" type="submit">
				Create Entry
			</button>
		</form>
	</div>
	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>
	<div class="col s10">
		<ul class="collapsible" data-collapsible="expandable">
		  	<li>
		  	  	<div class="collapsible-header">Most Recent Entry</div>
		  	  	<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		  	</li>

		  	<% for(var i=0; i<sessionList.length; i++){ %>
		  		<li>
		  		  	<div class="collapsible-header">
		  		  		<div class="row">
		  		  			<div class="col s4">Date: <%=sessionList[i].dataValues.date%> </div>
		  		  			<div class="col s4">Title: <%=sessionList[i].dataValues.title%> </div>
		  		  			<div class="col s2">Status: <%=sessionList[i].dataValues.status%> </div>
		  		  			<div class="col s2 right">
		  		  				<a href="/journal/editJournal">Edit</a>
		  		  			</div>
		  		  		</div>

		  		  	</div>
		  		  	<div class="collapsible-body">
		  		  		<span><div><%=sessionList[i].dataValues.notes%></div></span>
		  		  	</div>
		  		</li>
		  	<%}%>
		</ul>
	</div>
	<div class="col s1"></div>
</div>





















<!-- blankspaceyo -->