<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tapas</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>

  <div class="navbar-fixed">
    <nav class="#00796b teal darken-2">
      <div class="nav-wrapper">
        <a href="#" id="navTitle" class="brand-logo left">Tapas - Practice Journal</a>
        <ul class="right" >
            <a class='btn-floating dropdown-button btn-large btn' href='#' data-activates='dropdownNav' data-constrainwidth="false" data-beloworigin="true">
              <i class="material-icons">menu</i>
            </a>
            <ul id='dropdownNav' class='dropdown-content' style="overflow: visible"> 
              <li><a href="/journal">Journal</a></li>
              <li><a href="/progression">Progressions</a></li>
              <li class="divider"></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/auth/logout">Log Out</a></li>
            </ul>
        </ul>
      </div>
    </nav>
  </div>
  <div>
      <div><%- body %></div>
      <div><% include partials/alerts %></div>    
  </div>
  <!-- <div id="boo"></div> -->



    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://unpkg.com/vexflow/releases/vexflow-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
