.breadcrumb:before {
    color: #000000;
}

.breadcrumb, .breadcrumb:last-child {
   color: #000000;
}

h5{
	display: inline-block;
}

.modal { 
	width: 90% !important ; 
	height: 90% !important ; 
}


.bcbreadcrumb{
	margin: 10px 0;
}

.buHeader {
	font-weight: bold;
	margin-bottom: 0;
}

.padMeYo {
	padding: 13px;
}

