.breadcrumb:before {
    color: #000000;
}

.breadcrumb, .breadcrumb:last-child {
   color: #000000;
}

h5{
	display: inline-block;
}

.modal { 
	width: 90% !important ; 
	height: 90% !important ; 
}


.bcbreadcrumb{
	margin: 10px 0;
}

.buHeader {
	font-weight: bold;
	margin-bottom: 0;
}

.padMeYo {
	padding: 13px;
}

.lessMargin{
	margin: 0.5em !important;
}

.tb-margin-md{
	margin-top: 1.5em !important;
	margin-bottom: 1.5em !important;
}

.tb-margin-sm{
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}

